body {
    margin: 0;
}

.web-title {
    position: absolute;
    top: 25px;
    left: 25px;
    margin: 0;
    z-index: 999;
}

.city-pic {
    width: 100vw;
    z-index: 1;
    height: 100%;
}

#search-section {
    /* color: white; */
    text-align: center;
    margin-bottom: 100px;
    /* background-color: black; */
}

.search-bar {
    height: 40px;
    font-size: 30px;
    width: 40vw;

}

.login-form form {
    display: flex;
    justify-content: center;
}

.concert-srch-btn{
    width: 100px;
    font-size: larger;
    height: 40px;
}

                                                /* dynamic cards */

.cards-cont {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    gap: 30px;
    justify-content: center;

}

.card-body {
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    list-style-type: none;
}

.concert-img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.concert-card-url {
    text-decoration: none;
    color: black;
    cursor: pointer;
}


                                                    /* Modal Info */



                                                    /* Festival Form Info */



@media (max-width: 1300px) {
    .cards-cont { 
        grid-template-columns: repeat(3, 1fr); 
        margin-left: 5%;
        margin-right: 5%;
    }
    .card-body {font-size: 19px;}
    .concert-title {font-size: 3vw; font-weight: 600;}
    #user-input {
        font-size: 25px;
        width: 60vw;
    }
  }

@media (max-width: 700px) {
    .cards-cont { grid-template-columns: repeat(2, 1fr); }
    .card-body {font-size: 15px;}
    #user-input {
        font-size: 20px;
        width: 80vw;
}
}

@media (max-width: 400px) {
    .cards-cont { grid-template-columns: repeat(1, 1fr); }
    .card-body {font-size: 15px;}
    #user-input {
        font-size: 20px;
        width: 80vw;
    }
  }
