body {
    margin: 0;
}

.web-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    z-index: 999;
    font-size: 14vw;
    font-weight: 600;
}

.city-pic {
    position: sticky;
    width: 100vw;
    z-index: 1;
    height: 80vh;
}

#search-section {
    /* color: white; */
    text-align: center;
    margin-bottom: 100px;
    background-color: black;
}



#form-background {
    width: 70vw;
    height: 52vh;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    z-index: 2;
    opacity: 86%;
    border-radius: 10px;
}

#form-cont {
    width: 60vw;
    height: 52vh;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    border-radius: 10px;

}

.login-form form {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.search-bar {
    height: 40px;
    font-size: 25px;
    width: 40vw;
    border-radius: 5px;
}

.concert-srch-btn{
    width: 100px;
    font-size: larger;
    height: 40px;
    border-radius: 5px;
}

.idea-card-cont {
    display: flex;
    justify-content: space-evenly;
}

.idea-link {
    text-decoration: none;
    color: white;
    width: 12vw;
    height: 25vh;
}

.idea-card {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    height: 30vh;  
}
.idea-pic {
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

.idea-card-text {
    position: relative;
    color: white;
    margin-bottom: -500px;
}

                                                /* dynamic cards */

.cards-cont {
    margin-top: 230px;
    display: grid;
    grid-template-columns: 16% 16% 16% 16%;
    gap: 30px;
    justify-content: center;

}

.card-body {
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    list-style-type: none;
}

.concert-img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.concert-card-url {
    text-decoration: none;
    color: black;
    cursor: pointer;
}


                                                    /* Modal Info */



                                                    /* Festival Form Info */

@media (min-width: 1775px) {
    .web-title {
        font-size: 260px;
    }
}

@media (max-width: 1300px) {
    .web-title {
        font-size: 140px;
        top: 30%;
    }
    .search-bar {
        height: 40px;
        font-size: 25px;
        width: 50vw;
    
    }
    .concert-srch-btn{
        width: 100px;
        font-size: larger;
        height: 40px;
    }
    .login-form form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .idea-card {
        margin-top: 40px;
        width: 12vw;
        height: 18vh;
        border: 2px solid white;
    }
    .cards-cont { 
        grid-template-columns: repeat(3, 1fr); 
        margin-left: 5%;
        margin-right: 5%;
    }
    .card-body {font-size: 19px;}
    .concert-title {font-size: 3vw; font-weight: 600;}
    #user-input {
        font-size: 25px;
        width: 60vw;
    }
  }

@media (max-width: 700px) {
    .web-title {
        font-size: 14vw;
        top: 40%;
    }
    #form-background {
        width: 100%;
    }
    
    #form-cont {
        width: 100%;
        height: 52vh;
    
    }
    .idea-card,
    .idea-link {
        width: 20vw;
    }
    .cards-cont { grid-template-columns: repeat(2, 1fr); }
    .card-body {font-size: 15px;}
    #user-input {
        font-size: 20px;
        width: 80vw;
}
}

@media (max-width: 400px) {
    .cards-cont { grid-template-columns: repeat(1, 1fr); }
    .card-body {font-size: 15px;}
    #user-input {
        font-size: 20px;
        width: 80vw;
    }
  }
