* {
    margin: 0;
}

.pic-container {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.homepic {
    width: 100%;
    height: 100%;
}

.front-info {
    display: none; /* container below picture... keep hidden until info can be rendered */
    position: relative;
    z-index: 3;
    height: 70vh;
    background-color: black;
    margin-top: -3px;
}

.btn-holding-cont {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 4%;
    transform: translate(1%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: 80vh;
}

.home-btn {
    text-decoration: none;
    color: white;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    margin: 50px;
}

.home-btn-text {
    font-size: 30px;
}

.home-display {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -moz-box-shadow: 0 0 18px #ccc;
    -webkit-box-shadow: 0 0 18px #ccc;
    box-shadow: 0 0 18px #ccc;
}

.randomize-cont {
    position: absolute;
    z-index: 999;
    top: 53%;
    right: 4%;
    transform: translateY(-50%);
    height: 72vh;
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.random-trip-cont,
.random-concert-cont {
    width: 25vw;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.randomize-btn {
    height: 40px;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.random-card-cont {
    border: 1px solid red;
    height: 60vh;
    margin-top: 50px;
}

@media (max-width: 1500px) {
    .home-btn {
        width: 400px;
        height: 250px;
        margin: 40px;
    }
}

@media (max-width: 1200px) {
    .btn-holding-cont {
        left: 0;
    }
    
    .home-btn {
        width: 300px;
        height: 250px;
        margin: 40px;
    }
}

@media (max-width: 700px) {
    .btn-holding-cont {
        position: absolute;
        z-index: 999;
        top: 30%;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home-btn {
        width: 80vw;
        height: 125px;
    }
}

@media (max-width: 300px) {

}