.header-container {
    position: absolute;
    top: 4vh;
    right: 4vw;
    transform:translateY(-50%);
    display: flex;
    justify-content: right;
    z-index: 999;
}

.navbar a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
}

.title {
    padding-right: 2vw;
    padding-left: 2vw;
    font-weight: 700;
    color: white;
    text-shadow: -1.2px -1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000;
    background-color: rgba(0, 0, 0, .2);
    transition: 0.2s;
    border-radius: 5px;
    margin-right: 1vw;
}

.title:hover {
    color: green;
    background-color: rgba(0, 0, 0, .4);
}

.menu-icon {
    display: none;
    height: 35px;
}

@media (max-width: 1500px) {

    .navbar {
        display: flex;
        justify-content: center;
    }

    .title {
        font-size: 25px;
        border: none;
    }
}

@media (max-width: 700px) {
    .header-container {
        top: 8vh;
    }

    .title {
        font-size: 16px;
        font-weight: 700;
        color: white;
        border: none;
        padding: 0;
    }

    .navbar {
        display: none;
        flex-direction: column;
    }

    .navbar-active {
        display: block;
        top: 10vh;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 20px;
    }
}