section {
    font-family: 'Abel', sans-serif;
}

.mapped-info-cont {
   background-color: black;
   text-align: center;
}

.mapped-info-inner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    background-color: rgb(255, 255, 255);
    gap: 15px;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 55vh;
    z-index: 3;
    overflow: hidden;
}

.mapped-info-inner li {
    margin-left: 7px;
    margin-right: 7px;
    list-style-type: none;
    border: 4px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    width: 17vw;
    margin-top: 30px;
    padding: 7px;
    padding-bottom: 20px !important;
    overflow: auto;
}

.container-pic {
    width: 380px;
    height: 200px;
}

.card-name{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    height: 60px;
}
.card-desc {
    margin-top: 20px;
    height: 20%;
}

.address-city {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.physical-address {
    text-align: center;
    padding-bottom: 20px;
    height: 30px;
}

.card-url {
    text-align: center;
    text-decoration: none;
    color: black;
    margin: 10%;
    font-weight: 600;
}

.card-pic {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 72vh;
}

.urlBtn {
    position: relative;
    width: 50%;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    padding-top: 5px;
    border-radius: 3px;
    margin-top: 30px;
}

.urlBtn:hover {
    animation: input scale(1.2);
}

.page-nav-wrap {
    position: absolute;
    z-index: 999;
    border: 1px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
    padding-top: 23px;
    background-color: black;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.page-nav {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    font-size: 30px;
}

.nav {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}

.in-use {
    display: none;
}

.nav:hover {
    cursor: pointer;
    color: rgb(18, 163, 13);
}

@media (max-width: 1500px) {

    .mapped-info-inner li {
        list-style-type: none;
        width: 23vw;
        margin-top: 30px;
        margin-left: 7px;
        overflow: auto;
    }

    .mapped-info-inner {
        grid-template-columns: repeat(3, 30%);
        gap: 20px;
        margin-left: 5%;
        margin-right: 5%;
        overflow: hidden;
    }

    .container-pic {
        width: 23vw;
        height: 150px;
    }

    .card-title{
        padding: 5px;
        font-size: 15px;
        margin-top: 10px;
        white-space: nowrap;
    }

    .card-desc {
        font-size: 10px;
    }
    
    .address-city {
        font-size: 12px;
    }
    
    .card-url {
        font-size: 14px;
        margin-top: 6px;
    }
    .physical-addrecard {
        text-align: center;
        padding-bottom: 5px;
    }

    .urlBtn {
        margin-top: 0;
    }
}

@media (max-width: 900px) {
    .mapped-info-inner li {
        margin-left: -7px;
        list-style-type: none;
        width: 30vw;
        overflow: hidden;
    }

    .mapped-info-inner {
        grid-template-columns: repeat(2, 38%);
        gap: 18px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .container-pic {
        width: 30vw;
        height: 150px;
    }

    .card-name{
        padding: 5px;
        font-size: 15px;
        height: 50px;
    }

    .card-desc {
        font-size: 10px;
    }
    
    .address-city {
        font-size: 12px;
    }
    
    .card-url {
        margin: 5%;
        font-size: 10px;
    }
    
    .physical-address {
        text-align: center;
        padding-bottom: 5px;
    }

    .urlBtn {
        margin-top: 0;
    }

    .nav {
        font-size: 5vw;
    }
}

@media (max-width: 500px) {
    .mapped-info-inner li {
        list-style-type: none;
        width: 60vw;
        transform: translateX(18%);
    }

    .mapped-info-inner {
        display: flex;
        flex-direction: column;
    }

    .container-pic {
        width: 60vw;
        height: 150px;
    }

    .card-name{
        padding: 5px;
        font-size: 15px;
        height: 30px;
    }

    .card-desc {
        font-size: 10px;
        display: none;
    }
    
    .address-city {
        font-size: 12px;
    }
    
    .card-url {
        margin-left: -3%;
        font-size: 11px;
    }

    .urlBtn {
        margin-top: 0;
    }

    .nav {
        font-size: 20px;
        border-bottom: 4px solid black;
        height: 23px;
    }

    .page-nav-wrap {
        background-color: transparent;
        top: 50vh;
        border: none;

    }
} 
